.chat-container {
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 10px;
      height: 400px;
      overflow-wrap: break-word;
      overflow-y: scroll;
      display: flex;
      flex-direction: column; /* To stack messages vertically */
    }

    .message {
      padding: 5px;
      margin-bottom: 10px;
      border-radius: 5px;
      display: inline-block;
      max-width: 70%; /* Limit message width */
    }

    .sender {
      background-color: #007bff;
      color: #fff;
      align-self: flex-end;
    }

    .receiver {
      background-color: #f8f9fa;
      align-self: flex-start;
    }

    .message-input {
      margin-top: 10px;
      display: flex;
      align-items: center;
    }

    .message-input input {
      flex-grow: 1;
    }

    .send-button {
      margin-left: 5px;
    }

    html,
body {
    
    height: 100%;
}

body {
    background-color: #84D108;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* Rest of your CSS styles */

.navbar {
    background-color: white;
    width: 90%;
    height: 55px;
    border-radius: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    position: relative;
}

.glrate a {
    color: #00481B;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

.glrate {
    padding-top: 2px;
    flex-grow: 1;
    text-align: center;
}

.main-hero-h1 {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00481B;
    margin: 0;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 60px;
    padding-bottom: 0px;
}

.main-hero-h1-swipe {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00481B;
    margin: 0;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 20px;
    padding-bottom: 0px;
}

.main-hero-h1-index {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00481B;
    margin: 0;
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 0px;
}

.content {
    text-align: center;
    margin-top: 70px;
}

.square {
    width: 250px;
    height: 250px;
    background-color: white;
    margin: 0 auto;
    border-radius: 15px;
    border: 6px solid gray;
    /* Add this line to add a gray border */
}

.link {
    margin-top: 10px;
    text-decoration: underline;
    color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    
}

.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    margin: 0 30px;
}

.arrow-up {
    position: fixed;
    bottom: -450px;
    left: calc(50% - 1000px);
    width: 0;
    height: 0;
    border-left: 1000px solid transparent;
    border-right: 1000px solid transparent;
    border-bottom: 1000px solid #00481B;
    z-index: -1;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
    height: 350px;
  }
  
  .card-hero {
    position: absolute;
    top: 60px;
    width: 230px;
    height: 230px;
    background-color: gray;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border: white 7px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .card-hero img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

.card-left-hero {
    top: 30px;
    /* Adjust the value as needed */
    transform: translateY(50px) translateX(-50px) rotate(-10deg);
    z-index: 0;
}

.card-right-hero {
    top: 30px;
    /* Adjust the value as needed */
    transform: translateY(50px) translateX(50px) rotate(10deg);
    z-index: 0;
}


.description {
    margin-top: 50px;
    margin-top: 10px;
    font-size: 14px;
    color: white;
    font-weight: 500;
}

.link-hero-action {
    margin-top: 10px;
    text-decoration: underline;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.container-login {
    background-color: #fff;
    box-shadow: 0px 8px 8px 5px rgba(1, 1, 1, 0.6);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center horizontally */
}

.container-login input[type="email"],
.container-login input[type="password"] {
    width: 300px;
    /* Updated width */
    border-radius: 0;
    border-color: #00481B;
    border-width: 4px;
    margin-bottom: 10px;
    /* Add some space between inputs */
}


.login-button {
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
}

.container-login label {
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 5px;
}

.container-login .login-button {
    margin-top: 25px;
    margin-bottom: 10px;
}

.login-a {
    color: black;
    text-decoration: underline;
    font-weight: bold;
    border-bottom: none;
}



/* ?Media queries for responsive design */

@media only screen and (max-width:450px) {
    .content {
        margin-top: 30px;
    }
    	
    .content-swipe {
        margin-top: 30px;
    }

    .main-hero-h1-swipe {
        margin-bottom: 20px;
    }

    .main-hero-h1 {
        font-size: x-large;
        padding-bottom: 0px;
        margin-bottom: 20px;
    }

    .main-hero-h1-index {
        font-size: x-large;
        padding-bottom: 30px;
    }

    .card-container {
        height: 230px;
    }

    .card-hero {
        top: 0px;
        width: 190px;
        height: 190px;
    }

    .card-hero-swipe {
        top: 0px;
        width: 190px;
        height: 190px;
    }

    .description {
        margin-top: 0px;
        font-size: 15px;
    }

    .description-swipe {
        margin-top: 0px;
        font-size: 15px;
    }

    .link-hero-action {
        margin-top: 5px;
        font-size: 16px;
    }

    .card-left-hero {
        top: -20px;
        /* Adjust the value as needed */
    }

    .card-right-hero {
        top: -20px;
        /* Adjust the value as needed */
    }

    .arrow-up {
        bottom: -550px;
    }

    .searchbar {
        width: 10px;
    }

    .card-swipe {
        margin-top: 0;
    }
}

.card-swipe img, .card-profile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.signout-icon {
    width: 70px;
    /* Adjust the width as needed */
    height: 70px;
    /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: absolute;
    left: -1px;
    font-size: 24px;
    /* Increase the font size */
}


.profile-circle {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* Add position absolute */
    right: 10px;
    /* Adjust the
     right position as needed */
}

.profile-circle-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    object-fit: cover;
}

.signout-a,
.signout-a:hover {
    color: black;
}

.card-container-swipe {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin-bottom: 50px;
    height: 260px;
    /* !Adjust the height to match the card's height */
}

.card-swipe {
    position: absolute;
    bottom: 0;
    width: 260px;
    height: 260px;
    background-color: gray;
    border-radius: 20px;
    z-index: 1;
    border: white 7px solid;
    background: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    overflow-x: hidden;
}

.settings-icon {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
}

.settings-icon i {
    color: black;
    font-size: 25px;
}

.description-profile {
    font-size: 14px;
    font-weight: 500;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-container-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    height: 260px;
  }

  .card-profile {
    position: relative;
    width: 260px;
    height: 260px;
    background-color: gray;
    border-radius: 20px;
    z-index: 1;
    border: white 7px solid;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-profile-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  #fileLabel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.profile-img-button {
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 100px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust the value as needed */
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border: none;
}


.search-icon {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
}

.search-icon i {
    color: black;
    font-size: 25px;
}

.signout-icon-search {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: absolute;
    left: -1px;
    font-size: 24px;
}

.signout-a-search,
.signout-a-search:hover {
    color: black;
}

.glrate-search a {
    color: #00481B;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

.glrate-search {
    padding-top: 2px;
    flex-grow: 1;
    text-align: center;
}

.navbar-search {
    background-color: white;
    width: 90%;
    height: 55px;
    border-radius: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    position: relative;
}

.searchbar {
    display: none;
    padding: 10px;
    width: 500px;
  }
  
  .searchbar input {
    padding: 5px;
    margin-right: 10px;
    border: none;
    width: 285px;
}

input[type="text"] {
    border:none;     /* Set the border color to black */
    outline: none; /* Remove the orange outline when focused */
    
  }
  
  input[type="text"]:focus {
    border-color: black; /* Set the border color to black when focused */
  }
  

  .content-swipe {
    text-align: center;
    margin-top: 30px;
  }
  
  .content-swipe .main-hero-h1-swipe {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00481B;
    margin: 0;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 60px;
    padding-bottom: 0px;
  }
  
  .content-swipe .card-container-swipe {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin-bottom: 50px;
    height: 260px;
  }
  
  .content-swipe .card-swipe {
    position: absolute;
    bottom: 0px;
    width: 260px;
    height: 260px;
    background-color: gray;
    z-index: 1;
    border: white 7px solid;
  }
  
  .content-swipe .circle {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 270px;  
  }
  
  .content-swipe .left-circle {
    left: calc(50% - 80px);
    background-color: red;
    top: 67vh;
  }
  
  .content-swipe .right-circle {
    right: calc(50% - 80px);
    top: 67vh;
    background-color: #84D108;
  }
  
  .content-swipe .circle-icon {
    font-size: 30px;
    color: white;
  }
  
  .description-swipe {
    font-size: 15px;
    margin-top: 85px;
    color: white;
    font-weight: 500;
}

.circle-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .circle-button:focus {
    outline: none;
  }
  
  .circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 24px;
  }

  .card-profiel {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
  }
  
  #fileLabel {
    cursor: pointer;
    color: white;
    max-width: 250px;
  }
  
  .container-leaderboard {
    display: flex;
  flex-direction: column;
  align-items: flex-start;
    grid-template-columns: 1fr; /* Specify the number of columns */
    grid-gap: 0px; /* Add gap between grid items */
    justify-items: center; /* Center the items horizontally */
    background-color: #fff;
    box-shadow: 0px 8px 8px 5px rgba(1, 1, 1, 0.6);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

  .row {
    display: flex;
    align-items: center;
    grid-template-columns: auto auto auto;
    padding: 5px;
    padding-bottom: 5px;
    background-color: #fff;
    border-radius: 10px;
  }

  .col {
    flex: 1;
  }
  
  .rank {
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    color: black;
  }
  
  .card-hero img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  
  
  .circle-img img {
    width: 25px;
    height: 25px;
    object-fit: cover;
  }

  .username{
    font-size: 12px;
    text-align: left;
    font-weight: 700;
    text-decoration: none;
    color: black;
  }

  .view {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .view h1 {
    color: white;
  }
  
  @media only screen and (min-width: 780px) {
    .content,
    .navbar,
    .footer,
    .glrate {
      display: none;
    }
  
    .view {
      display: flex;
    }
  }